extends layouts/main -layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")



block content
    main
        if prods.length >0
                .grid
                    each product in prods
                        article.card.product-item
                            header.card__header
                                h1.product__title #{product.title}
                            div.card__image
                                img(src="https://cdn.vox-cdn.com/thumbor/RVswKmDAdAX1ilM4nslTQvHs35A=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/18329971/akrales_190723_3560_0016.jpg", alt="OOPS")
                            div.card__content
                                h2.product__price $15.00
                                p.product__description Get your hands quickly on this interesting book.
                            .card__action
                                button.btn Add to the card
        else
            h1 No products to show

